In [18]:
import pandas as pd
import nltk
from nltk.corpus import stopwords
import numpy as np

In [19]:
df = pd.read_excel("C:\\Users\\M1051307\\Desktop\\svm_fulldata.xlsx")

In [20]:
df.isnull().sum()

MID                             0
Feedback                        0
feedback before cleaning      124
ManagerMID                      0
Overall.Performance.Rating      0
sentiment                       0
zz$predicted_sentiment          0
dtype: int64

In [21]:
df['feedback before cleaning'] = df['feedback before cleaning'].replace(np.nan, 'No comments')
df.isnull().sum()

MID                           0
Feedback                      0
feedback before cleaning      0
ManagerMID                    0
Overall.Performance.Rating    0
sentiment                     0
zz$predicted_sentiment        0
dtype: int64

In [22]:
from pprint import pprint
import nltk
import yaml
import sys
import os
import re

In [23]:
df['Word Count'] = df['feedback before cleaning'].apply(lambda x: len(str(x).split(" ")))
Data = df['feedback before cleaning'].str.replace('[\r\n]', '')
Data = pd.DataFrame(Data)
Data.head()

Data['char_count'] = Data['feedback before cleaning'].str.len() # This also include space
Data.head()

# No.of words
Data['word_count'] = Data['feedback before cleaning'].apply(lambda x: len(str(x).split(" ")))
Data.head()

                            feedback before cleaning  char_count  word_count
0  Pros:Aswath was dedicated to his core subjects...        1852         271
1  Agreed with appraise comments Agreed with appr...         203          28
2  Understand Design. Contributed in development ...         322          44
3  In PACCAR project, the number of defects are e...         985         176
4  Customers are not satisfied with the deliverab...         668         114

In [24]:
def avg_word(sentence):
  words = sentence.split()
  return (sum(len(word) for word in words)/len(words))

Data['avg_word'] = Data['feedback before cleaning'].apply(lambda x: avg_word(x))
Data.head()

,feedback before cleaning,char_count,word_count,avg_word
0,Pros:Aswath was dedicated to his core subjects...,1852,271,5.837638
1,Agreed with appraise comments Agreed with appr...,203,28,6.285714
2,Understand Design. Contributed in development ...,322,44,6.340909
3,"In PACCAR project, the number of defects are e...",985,176,4.564972
4,Customers are not satisfied with the deliverab...,668,114,4.868421

In [25]:
# No.of stop words
from nltk.corpus import stopwords
stop = stopwords.words('english')

Data['stopwords'] = Data['feedback before cleaning'].apply(lambda x: len([x for x in x.split() if x in stop]))
Data.head()

,feedback before cleaning,char_count,word_count,avg_word,stopwords
0,Pros:Aswath was dedicated to his core subjects...,1852,271,5.837638,111
1,Agreed with appraise comments Agreed with appr...,203,28,6.285714,11
2,Understand Design. Contributed in development ...,322,44,6.340909,10
3,"In PACCAR project, the number of defects are e...",985,176,4.564972,78
4,Customers are not satisfied with the deliverab...,668,114,4.868421,41

In [26]:
# No.of special charecters
Data['hastags'] = Data['feedback before cleaning'].apply(lambda x: len([x for x in x.split() if x.startswith('#')]))
Data.head()

,feedback before cleaning,char_count,word_count,avg_word,stopwords,hastags
0,Pros:Aswath was dedicated to his core subjects...,1852,271,5.837638,111,0
1,Agreed with appraise comments Agreed with appr...,203,28,6.285714,11,0
2,Understand Design. Contributed in development ...,322,44,6.340909,10,0
3,"In PACCAR project, the number of defects are e...",985,176,4.564972,78,0
4,Customers are not satisfied with the deliverab...,668,114,4.868421,41,0

In [27]:
# Number of numerics
Data['numerics'] = Data['feedback before cleaning'].apply(lambda x: len([x for x in x.split() if x.isdigit()]))
Data.head()

,feedback before cleaning,char_count,word_count,avg_word,stopwords,hastags,numerics
0,Pros:Aswath was dedicated to his core subjects...,1852,271,5.837638,111,0,3
1,Agreed with appraise comments Agreed with appr...,203,28,6.285714,11,0,0
2,Understand Design. Contributed in development ...,322,44,6.340909,10,0,0
3,"In PACCAR project, the number of defects are e...",985,176,4.564972,78,0,1
4,Customers are not satisfied with the deliverab...,668,114,4.868421,41,0,0

In [28]:
# No.of Uppercase words
Data['upper'] = Data['feedback before cleaning'].apply(lambda x: len([x for x in x.split() if x.isupper()]))
Data.head()

,feedback before cleaning,char_count,word_count,avg_word,stopwords,hastags,numerics,upper
0,Pros:Aswath was dedicated to his core subjects...,1852,271,5.837638,111,0,3,5
1,Agreed with appraise comments Agreed with appr...,203,28,6.285714,11,0,0,0
2,Understand Design. Contributed in development ...,322,44,6.340909,10,0,0,1
3,"In PACCAR project, the number of defects are e...",985,176,4.564972,78,0,1,13
4,Customers are not satisfied with the deliverab...,668,114,4.868421,41,0,0,3

In [29]:
#The first pre-processing step which we will do is transform our tweets into lower case. 
#This avoids having multiple copies of the same words. For example, while calculating the word count, ‘Analytics’ and ‘analytics’ will be taken as different words.
Data['feedback before cleaning'] = Data['feedback before cleaning'].apply(lambda x: " ".join(x.lower() for x in x.split()))
Data.head()

,feedback before cleaning,char_count,word_count,avg_word,stopwords,hastags,numerics,upper
0,pros:aswath was dedicated to his core subjects...,1852,271,5.837638,111,0,3,5
1,agreed with appraise comments agreed with appr...,203,28,6.285714,11,0,0,0
2,understand design. contributed in development ...,322,44,6.340909,10,0,0,1
3,"in paccar project, the number of defects are e...",985,176,4.564972,78,0,1,13
4,customers are not satisfied with the deliverab...,668,114,4.868421,41,0,0,3

In [30]:
#As we discussed earlier, stop words (or commonly occurring words) should be removed from the text data. 
#For this purpose, we can either create a list of stopwords ourselves or we can use predefined libraries.
from nltk.corpus import stopwords
stop = stopwords.words('english')
Data['feedback before cleaning'] = Data['feedback before cleaning'].apply(lambda x: " ".join(x for x in x.split() if x not in stop))
Data.head()

,feedback before cleaning,char_count,word_count,avg_word,stopwords,hastags,numerics,upper
0,pros:aswath dedicated core subjects able demon...,1852,271,5.837638,111,0,3,5
1,agreed appraise comments agreed appraise comme...,203,28,6.285714,11,0,0,0
2,understand design. contributed development cbu...,322,44,6.340909,10,0,0,1
3,"paccar project, number defects extremely high ...",985,176,4.564972,78,0,1,13
4,customers satisfied deliverable biomed lead. c...,668,114,4.868421,41,0,0,3

In [31]:
#Previously, we just removed commonly occurring words in a general sense.
#We can also remove commonly occurring words from our text data First, let’s check the 10 most frequently occurring words in our text data then take call to remove or retain.
freq = pd.Series(' '.join(Data['feedback before cleaning']).split()).value_counts()[:10]
freq

team        14311
good        12075
work         7053
project      6429
time         5226
well         5098
also         5080
customer     5006
comments     4912
need         4514
dtype: int64

In [32]:
# Now, let’s remove these words as their presence will not of any use in classification of our text data
freq = list(freq.index)
Data['feedback before cleaning'] = Data['feedback before cleaning'].apply(lambda x: " ".join(x for x in x.split() if x not in freq))
Data.head()

,feedback before cleaning,char_count,word_count,avg_word,stopwords,hastags,numerics,upper
0,pros:aswath dedicated core subjects able demon...,1852,271,5.837638,111,0,3,5
1,agreed appraise agreed appraise agreed apprais...,203,28,6.285714,11,0,0,0
2,understand design. contributed development cbu...,322,44,6.340909,10,0,0,1
3,"paccar project, number defects extremely high ...",985,176,4.564972,78,0,1,13
4,customers satisfied deliverable biomed lead. r...,668,114,4.868421,41,0,0,3

In [33]:
#Similarly, just as we removed the most common words, this time let’s remove rarely occurring words from the text.
#Because they’re so rare, the association between them and other words is dominated by noise. You can replace rare words with a more general form and then this will have higher counts.
freq = pd.Series(' '.join(Data['feedback before cleaning']).split()).value_counts()[-10:]
freq

team.qa,                    1
regressionexecution.        1
test-cases,                 1
maintiaininece              1
mindtree.zubair             1
artifactsproviding          1
representatives             1
namratha,                   1
same.also,keep              1
suitably<!--[endif]---->    1
dtype: int64

In [34]:
freq = list(freq.index)
Data['feedback before cleaning'] = Data['feedback before cleaning'].apply(lambda x: " ".join(x for x in x.split() if x not in freq))
Data.head()

,feedback before cleaning,char_count,word_count,avg_word,stopwords,hastags,numerics,upper
0,pros:aswath dedicated core subjects able demon...,1852,271,5.837638,111,0,3,5
1,agreed appraise agreed appraise agreed apprais...,203,28,6.285714,11,0,0,0
2,understand design. contributed development cbu...,322,44,6.340909,10,0,0,1
3,"paccar project, number defects extremely high ...",985,176,4.564972,78,0,1,13
4,customers satisfied deliverable biomed lead. r...,668,114,4.868421,41,0,0,3

In [ ]:
# Spelling correction
from textblob import TextBlob
Data['feedback before cleaning'].apply(lambda x: str(TextBlob(x).correct()))

In [39]:
Data['word_count'] = Data['feedback before cleaning'].apply(lambda x:len(str(x).split(" ")))

In [41]:
Data.head()

,feedback before cleaning,char_count,word_count,avg_word,stopwords,hastags,numerics,upper
0,pros:aswath dedicated core subjects able demon...,1852,148,5.837638,111,0,3,5
1,agreed appraise agreed appraise agreed apprais...,203,13,6.285714,11,0,0,0
2,understand design. contributed development cbu...,322,29,6.340909,10,0,0,1
3,"paccar project, number defects extremely high ...",985,92,4.564972,78,0,1,13
4,customers satisfied deliverable biomed lead. r...,668,63,4.868421,41,0,0,3

In [42]:
from textblob import TextBlob

In [43]:
import nltk
nltk.download('wordnet')
from textblob import Word
Data['feedback before cleaning'] = Data['feedback before cleaning'].apply(lambda x: " ".join([Word(word).lemmatize() for word in x.split()]))
Data.head()

[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\M1051307\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

,feedback before cleaning,char_count,word_count,avg_word,stopwords,hastags,numerics,upper
0,pros:aswath dedicated core subject able demons...,1852,148,5.837638,111,0,3,5
1,agreed appraise agreed appraise agreed apprais...,203,13,6.285714,11,0,0,0
2,understand design. contributed development cbu...,322,29,6.340909,10,0,0,1
3,"paccar project, number defect extremely high n...",985,92,4.564972,78,0,1,13
4,customer satisfied deliverable biomed lead. re...,668,63,4.868421,41,0,0,3

In [45]:
Data['polarity'] = Data['feedback before cleaning'].apply(lambda x: TextBlob(x).sentiment[0])
Data['Subjectivity'] =  Data['feedback before cleaning'].apply(lambda x: TextBlob(x).sentiment[1])

In [46]:
Data.head()

,feedback before cleaning,char_count,word_count,avg_word,stopwords,hastags,numerics,upper,polarity,Subjectivity
0,pros:aswath dedicated core subject able demons...,1852,148,5.837638,111,0,3,5,0.028869,0.376786
1,agreed appraise agreed appraise agreed apprais...,203,13,6.285714,11,0,0,0,0.800000,1.000000
2,understand design. contributed development cbu...,322,29,6.340909,10,0,0,1,0.000000,0.000000
3,"paccar project, number defect extremely high n...",985,92,4.564972,78,0,1,13,0.175833,0.459583
4,customer satisfied deliverable biomed lead. re...,668,63,4.868421,41,0,0,3,0.253306,0.464050

In [50]:
k=list(Data.polarity)
j=list() 
for i in k:
    if(i<-0.4):
        j.append("Negative")
    elif (i>0.4):
        j.append("Positive")
    else:
        j.append("Neutral") 
Data['classify']=j
Data.head()

,feedback before cleaning,char_count,word_count,avg_word,stopwords,hastags,numerics,upper,polarity,Subjectivity,classify
0,pros:aswath dedicated core subject able demons...,1852,148,5.837638,111,0,3,5,0.028869,0.376786,Neutral
1,agreed appraise agreed appraise agreed apprais...,203,13,6.285714,11,0,0,0,0.800000,1.000000,Positive
2,understand design. contributed development cbu...,322,29,6.340909,10,0,0,1,0.000000,0.000000,Neutral
3,"paccar project, number defect extremely high n...",985,92,4.564972,78,0,1,13,0.175833,0.459583,Neutral
4,customer satisfied deliverable biomed lead. re...,668,63,4.868421,41,0,0,3,0.253306,0.464050,Neutral

In [51]:
Data['classify'].value_counts()

Neutral     8708
Positive     504
Negative       2
Name: classify, dtype: int64